<router-outlet />

<!--NAVBAR MENUS - BEGIN-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">BISWA<span class="dot">.</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenus"
      aria-controls="navbarMenus" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenus">
      <div class="navbar-nav">
        <a class="nav-link active" href="#home">Home</a>
        <a class="nav-link" href="#about">About</a>
        <a class="nav-link" href="#skills">Skills</a>
        <a class="nav-link" href="#portfolio">Portfolio</a>
        <a class="nav-link" href="#testimonial">Testimonial</a>
        <a class="nav-link" href="#blog">Blog</a>
        <a class="nav-link" href="#contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
<!--NAVBAR MENUS - END-->

<!--HOME-BEGIN-->
<section id="home">
  <div class="container">
    <div>
      <h6>Hello, I am</h6>
      <h1 class="name">Biswaranjan Nayak</h1>
      <h4 class="designation">Professional Full Stack Developer</h4>
      <div class="btn-group">
        <button type="button" class="primary">Hire Me</button>
        <button type="button" class="primary">My Resume</button>
      </div>
    </div>
    <div>
      <img class="avatar" alt="" src="./../assets/imgs/avatar.jpg">
    </div>
  </div>
</section>
<!--ABOUT-END-->

<!--ABOUT-BEGIN-->
<section id="about">
  <div class="container">
    <div class="who-am-i">
      <h3 class="caption">Who am I?</h3>
      <h5 class="sub-caption">Professional Full Stack Developer</h5>
      <div class="info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur fugit
        repellendusillo voluptas?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur fugit
        repellendusillo voluptas?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur fugit
        repellendusillo voluptas?
      </div>
      <button type="button" class="primary">Download Resume</button>
    </div>
    <div class="personal-info">
      <h3 class="caption">Personal Info</h3>
      <div class="info">
        <div><strong>Birthdate</strong>: 06th June, 1988</div>
        <div><strong>Email</strong>: ranjan6688&#64;hotmail.com</div>
        <div><strong>Phone</strong>: (+91)-72057-15145</div>
        <div><strong>Skype</strong>: biswaranjan.nayak88</div>
        <div><strong>Github</strong>: https://github.com/biswa6688</div>
        <div><strong>Address</strong>: A91/1, Saheed Nagar, Bhubaneswar - 751009</div>
      </div>
      <div class="social-group">
        <span class="icon-linkedin"></span>
        <span class="icon-twitter"></span>
        <span class="icon-skype"></span>
        <span class="icon-youtube"></span>
        <span class="icon-github"></span>
      </div>
    </div>
    <div class="my-expertise">
      <h3 class="caption">My Expertise</h3>
      <div class="expertisation">
        <div class="icon icon-ui-ux-design"></div>
        <div>
          <h5>UI/UX Developement</h5>
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit repellendusillo voluptas?</div>
        </div>
      </div>
      <div class="expertisation">
        <div class="icon icon-web-developement"></div>
        <div>
          <h5>Web Developement</h5>
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit repellendusillo voluptas?</div>
        </div>
      </div>
      <div class="expertisation">
        <div class="icon icon-cloud-developement"></div>
        <div>
          <h5>Cloud Developement</h5>
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit repellendusillo voluptas?</div>
        </div>
      </div>
      <div class="expertisation d-none">
        <div class="icon icon-contact-center-developement"></div>
        <div>
          <h5>Contact Center Developement</h5>
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit repellendusillo voluptas?</div>
        </div>
      </div>
      <div class="expertisation d-none">
        <div class="icon icon-app-architect"></div>
        <div>
          <h5>Software Architect</h5>
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit repellendusillo voluptas?</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--ABOUT-END-->

<!--SKILLS-BEGIN-->
<section id="skills">
  <div class="container">
    <div class="skill-info">
      <div class="expertise">
        <h3>My Experiences</h3>
        <div>
          <h5 class="timespan">2017 - Present</h5>
          <span class="designation">.NET Developer</span>
          <span class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit
            repellendusillo voluptas?</span>
        </div>
        <div>
          <h5 class="timespan">2017 - Present</h5>
          <span class="designation">.NET Developer</span>
          <span class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit
            repellendusillo voluptas?</span>
        </div>
        <div>
          <h5 class="timespan">2017 - Present</h5>
          <span class="designation">.NET Developer</span>
          <span class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit
            repellendusillo voluptas?</span>
        </div>
      </div>
      <div class="education">
        <h3>My Education</h3>
        <div>
          <h5 class="timespan">2017 - Present</h5>
          <span class="designation">B.Tech. from NIT</span>
          <span class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit
            repellendusillo voluptas?</span>
        </div>
        <div>
          <h5 class="timespan">2017 - Present</h5>
          <span class="designation">M.Tech from NIT</span>
          <span class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit
            repellendusillo voluptas?</span>
        </div>
        <div>
          <h5 class="timespan">2017 - Present</h5>
          <span class="designation">B.Sc. from Sambalpur</span>
          <span class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.sit amet, Qui deserunt consequatur
            fugit
            repellendusillo voluptas?</span>
        </div>
      </div>
      <div class="skills">
        <h3>My Skills</h3>
        <div class="programming-skills">
          <h5>Skills</h5>
          <div class="skill">
            <div>
              <span class="name">NodeJS &amp; Angular</span>
              <span class="progress-percent angular">
                <span class="progress-value"></span>
              </span>
            </div>
            <div>
              <span class="name">Javascript &amp; Typescript</span>
              <span class="progress-percent script">
                <span class="progress-value"></span>
              </span>
            </div>
            <div>
              <span class="name">C, C#, .NET</span>
              <span class="progress-percent cnet">
                <span class="progress-value"></span>
              </span>
            </div>
            <div>
              <span class="name">MSSql &amp; MySql &amp; PostgreSql</span>
              <span class="progress-percent database">
                <span class="progress-value"></span>
              </span>
            </div>
          </div>
        </div>
        <div>
          <h5>Languages</h5>
          <div class="language">
            <div>
              <span class="name">Odia</span>
              <span class="progress-percent odia">
                <span class="progress-value"></span>
              </span>
            </div>
            <div>
              <span class="name">Hindi</span>
              <span class="progress-percent hindi">
                <span class="progress-value"></span>
              </span>
            </div>
            <div>
              <span class="name">English</span>
              <span class="progress-percent english">
                <span class="progress-value"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--SKILLS-END-->

<!--PORTFOLIO-BEGIN-->
<section id="portfolio">
  <div class="container">
    <!-- <div>
      <h3>My Portfolio</h3>
    </div> -->
    <div>
      <div class="services">
        <div>
          <!-- <h5>Services</h5> -->
          <div>
            <h3>My Services</h3>
            <div>
              <div>.</div>
            </div>
          </div>
        </div>
        <div class="list">
          <span class="icon-pjsip"></span>
          <span class="icon-asterisk">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
            <span class="path6"></span>
            <span class="path7"></span>
            <span class="path8"></span>
            <span class="path9"></span>
            <span class="path10"></span>
            <span class="path11"></span>
            <span class="path12"></span>
            <span class="path13"></span>
            <span class="path14"></span>
          </span>
          <span class="icon-avaya"></span>
          <span class="icon-webrtc-horiz">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
            <span class="path6"></span>
            <span class="path7"></span>
            <span class="path8"></span>
            <span class="path9"></span>
            <span class="path10"></span>
            <span class="path11"></span>
            <span class="path12"></span>
            <span class="path13"></span>
            <span class="path14"></span>
            <span class="path15"></span>
            <span class="path16"></span>
            <span class="path17"></span>
          </span>
        </div>
      </div>
      <div class="projects">
        <div>
          <h5>Projects</h5>
        </div>
        <div class="projects-container">
          <div class="projects-item">
            <img src="./../assets/imgs/work-1.jpg" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
            <div class="content-holder">
                <div class="text-holder">
                    <h6 class="title">WEB</h6>
                    <p class="subtitle">Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam!</p>
                </div>
            </div>
          </div>
          <div class="projects-item">
            <img src="./../assets/imgs/work-2.jpg" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
            <div class="content-holder">
                <div class="text-holder">
                    <h6 class="title">WEB</h6>
                    <p class="subtitle">Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam!</p>
                </div>
            </div>
          </div>
          <div class="projects-item">
            <img src="./../assets/imgs/work-3.jpg" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
            <div class="content-holder">
                <div class="text-holder">
                    <h6 class="title">WEB</h6>
                    <p class="subtitle">Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam!</p>
                </div>
            </div>
          </div>
          <div class="projects-item">
            <img src="./../assets/imgs/work-4.jpg" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
            <div class="content-holder">
                <div class="text-holder">
                    <h6 class="title">WEB</h6>
                    <p class="subtitle">Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam!</p>
                </div>
            </div>
          </div>
          <div class="projects-item">
            <img src="./../assets/imgs/work-5.jpg" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
            <div class="content-holder">
                <div class="text-holder">
                    <h6 class="title">WEB</h6>
                    <p class="subtitle">Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam!</p>
                </div>
            </div>
          </div>
          <div class="projects-item">
            <img src="./../assets/imgs/work-6.jpg" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
            <div class="content-holder">
                <div class="text-holder">
                    <h6 class="title">WEB</h6>
                    <p class="subtitle">Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam!</p>
                </div>
            </div>
          </div>
          <div class="projects-item">
            <img src="./../assets/imgs/work-7.jpg" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
            <div class="content-holder">
                <div class="text-holder">
                    <h6 class="title">WEB</h6>
                    <p class="subtitle">Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam!</p>
                </div>
            </div>
          </div>
          <div class="projects-item">
            <img src="./../assets/imgs/work-8.jpg" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
            <div class="content-holder">
                <div class="text-holder">
                    <h6 class="title">WEB</h6>
                    <p class="subtitle">Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam! Expedita corporis doloremque velit in totam!</p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clients">
        <div>
          <h5>Clients</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!--PORTFOLIO-END-->

<!--TESTIMONIAL-BEGIN-->
<section id="testimonial"></section>
<!--TESTIMONIAL-END-->

<!--BLOG-BEGIN-->
<section id="blog"></section>
<!--BLOG-END-->

<!--CONTACT-BEGIN-->
<section id="contact"></section>
<!--CONTACT-END-->
